sudo: false
language: clojure
lein: 2.8.1
install:
  - ./scripts/lein-modules install
  - lein deps
script:
  - lein with-profile $PROFILE do clean, midje, check
jdk:
  - oraclejdk8
env:
  - PROFILE=dev
  - PROFILE=dev,1.8
cache:
  directories:
  - $HOME/.m2
